@font-face {
    font-family: 'Norse';
    src: url('font/Norse.woff2'),
        url('font/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*:not(dialog) {
  margin: 0;
}


input, button, textarea, select {
  font: inherit;
}


.hero {
    width: 1200px;
    margin: 40px auto;
    background-color: aliceblue;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


/* Left section */

.hero-left {
    position: relative;
    width: 1200px;
}

.hero-image {
      max-width: 100%;
  height: auto;
}


.logo {
    padding: 10px 0;
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 80px;
}

.logo > p {
    font-family: "Norse";
    font-weight: bold;
    font-size: 70px;
    opacity: 1;
}

.hero-credit {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: white;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.hero-credit a {
    color: white;
}


/* Right section */

/* .hero-right {
    padding-left: 40px;
    padding-right: 80px;
} */

.intro {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 80px;
}

.intro span {
    font-style: italic;
}

.intro-main {
    margin-bottom: 20px;
}

.form-bg {
    background-color: white;
    padding: 20px 0;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 80px;
    box-shadow: 10px 5px 5px rgba(73, 73, 73, 0.15);
}

.form-title {
    font-size: 20px;
    margin-bottom: 16px;
}

.form-button {
    padding: 10px 40px;
    border: none;
    background-color: #596D48;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 40px;
}

.form-login {
    margin-left: 40px;
}