@font-face {
    font-family: 'Norse';
    src: url('font/Norse.woff2'),
        url('font/Norse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

*:not(dialog) {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

.hero {
    width: 1200px;
    margin: 40px auto;
    background-color: aliceblue;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    overflow: hidden;
}

.hero-left {
    position: relative;
}

.logo {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > p {
    font-family: "Norse";
    font-weight: bold;
    font-size: 70px;
    opacity: 1;
}

.hero-credit {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: white;
    left:0;
right:0;
margin-left:auto;
margin-right:auto;
}

.hero-credit a {
    color: white;
}

.hero-image {
    width: 100px;
}

